{{>header}}


<div id="page-not-fount" class="my-5">
    <div class="container theme-color text-center">
        <h1 class="font-weight-bold">Sorry, page not found.</h1>
        <a class="btn btn-outline-theme-color btn-lg mt-5" href="/" role="button">Back to Home</a>
    </div>
</div>



{{>footer}}