{{>header}}

<div class="trans w-100 d-flex flex-column justify-content-center align-items-center">
    <img src="https://fakeimg.pl/1600x600/?text=" class="d-block w-100" alt="">
    <div class="position-absolute d-none d-md-block trans theme-color p-5">
        <h1 class="font-weight-bold">迤逦加国，以法护航</h1>
        <h1 class="font-weight-bold">立足华社，助君凯旋</h1>
    </div>
    <div class="d-block d-md-none theme-color text-center p-4">
        {{!-- <div class="d-flex flex-column justify-content-center align-items-center"> --}}
        <h3 class="font-weight-bold">迤逦加国，以法护航</h3>
        <h3 class="font-weight-bold">立足华社，助君凯旋</h3>
        {{!-- </div> --}}
    </div>
</div>

<div id="about" class="my-5">
    <div class="container theme-color">
        <h1 class="text-center py-5">ABOUT US</h1>
        <div class="text-justify will-show">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Non
                sodales neque sodales ut etiam. Ultrices mi tempus imperdiet nulla malesuada. Facilisis gravida neque
                convallis a cras semper auctor. Vivamus arcu felis bibendum ut tristique et egestas quis. Ac turpis
                egestas sed tempus urna et pharetra. Lorem dolor sed viverra ipsum. Neque laoreet suspendisse interdum
                consectetur libero id faucibus nisl. Cursus vitae congue mauris rhoncus aenean vel.</p>
            <p>Et netus et malesuada fames ac turpis egestas maecenas. Varius quam quisque id diam vel quam elementum.
                Quis imperdiet massa tincidunt nunc pulvinar. Mauris a diam maecenas sed. Ut tristique et egestas quis
                ipsum suspendisse ultrices gravida. Sed nisi lacus sed viverra tellus in. Diam vel quam elementum
                pulvinar etiam. Semper feugiat nibh sed pulvinar proin gravida. Elit ut aliquam purus sit amet luctus.
                Habitant morbi tristique senectus et netus.</p>
            <p>Senectus et netus et malesuada fames ac turpis. Integer malesuada nunc vel risus commodo viverra
                maecenas. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam purus. Ut venenatis tellus in
                metus vulputate eu scelerisque. Sollicitudin tempor id eu nisl nunc. Nibh tellus molestie nunc non
                blandit massa. Interdum varius sit amet mattis. Fermentum posuere urna nec tincidunt. In hac habitasse
                platea dictumst quisque. Sit amet venenatis urna cursus eget. Non quam lacus suspendisse faucibus
                interdum posuere.</p>
            <p>Malesuada fames ac turpis egestas sed tempus urna. Ac tincidunt vitae semper quis lectus. Augue lacus
                viverra vitae congue. Odio morbi quis commodo odio aenean. Venenatis urna cursus eget nunc scelerisque
                viverra mauris in aliquam. Vitae tempus quam pellentesque nec nam aliquam sem et. Aliquet eget sit amet
                tellus cras adipiscing.</p>
        </div>
    </div>
</div>

<hr class="dotted">

<div id="gallery">
    <div class="container my-5">
        <h1 class="text-center theme-color py-5">GALLERY</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col my-3">
                <a href="#" data-toggle="modal" data-target="#pic-discription">
                    <img src="https://fakeimg.pl/900x600/?text=" class="w-100" alt="text discription">
                </a>
            </div>
            <div class="col my-3">
                <a href="#" data-toggle="modal" data-target="#pic-discription">
                    <img src="https://fakeimg.pl/900x600/?text=" class="w-100" alt="text discription">
                </a>
            </div>
            <div class="col my-3">
                <a href="#" data-toggle="modal" data-target="#pic-discription">
                    <img src="https://fakeimg.pl/900x600/?text=" class="w-100" alt="text discription">
                </a>
            </div>
            <div class="col my-3">
                <a href="#" data-toggle="modal" data-target="#pic-discription">
                    <img src="https://fakeimg.pl/900x600/?text=" class="w-100" alt="text discription">
                </a>
            </div>
            <div class="col my-3">
                <a href="#" data-toggle="modal" data-target="#pic-discription">
                    <img src="https://fakeimg.pl/900x600/?text=" class="w-100" alt="text discription">
                </a>
            </div>
            <div class="col my-3">
                <a href="#" data-toggle="modal" data-target="#pic-discription">
                    <img src="https://fakeimg.pl/900x600/?text=" class="w-100" alt="text discription">
                </a>
            </div>
        </div>
    </div>


</div>


{{!-- modal --}}
<div class="modal fade" id="pic-discription" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="img">
        <div class="modal-body text-center px-0">
            <img src="https://fakeimg.pl/900x600/?text=" class="w-100" alt="text discription">
        </div>
    </div>
</div>

{{>footer}}