{{>header}}

<div>
    <img src="https://fakeimg.pl/1600x600/?text=" class="d-block w-100" alt="">
</div>

<div id="downloads" class="my-5">
    <div class="container theme-color">
        <h1 class="text-center py-5">{{downloads.title}}</h1>
        <div class="row justify-content-center">
            {{# files}}
            <div class="col-md-8 col-lg-6 my-1 d-flex align-items-center shadow">
                <div class="p-2 flex-grow-1 text-break lead">{{file_name}}</div>
                <div class="p-2"><a href="/files/downloads{{file_path}}" target="_blank" class="theme-color stretched-link" download><i class="fas fa-cloud-download-alt fa-2x"></i></a>
                </div>
            </div>
            <div class="w-100"></div>
            {{/ files}}
        </div>
    </div>
</div>


{{>footer}}