{{>header}}

<div>
    <img src="https://fakeimg.pl/1600x600/?text=" class="d-block w-100" alt="">
</div>

<div id="questions" class="my-5">
    <div class="container theme-color">
        <h1 class="text-center py-5">QUESTIONS &amp; ANSWERS</h1>
        <div class="shadow w-100 p-3 my-3 bg-white rounded will-show">
            <p class="font-weight-bold"><span class="h2">Q: </span>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit?</p>
            <p><span class="h2">A: </span>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="shadow w-100 p-3 my-3 bg-white rounded will-show">
            <p class="font-weight-bold"><span class="h2">Q: </span>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit?</p>
            <p><span class="h2">A: </span>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="shadow w-100 p-3 my-3 bg-white rounded will-show">
            <p class="font-weight-bold"><span class="h2">Q: </span>Lorem ipsum dolor sit amet, consectetur adipiscing
                elit?</p>
            <p><span class="h2">A: </span>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
                dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</div>



{{>footer}}