{{>header}}

<div>
    <img src="https://fakeimg.pl/1600x600/?text=" class="d-block w-100" alt="">
</div>

<div id="questions" class="my-5">
    <div class="container theme-color">
        <h1 class="text-center py-5">{{questions.title}}</h1>
        {{# questions.content}}
        <div class="shadow w-100 p-3 my-3 bg-white rounded will-show">
            <p class="font-weight-bold"><span class="h2">Q: </span>{{question}}</p>
            <p><span class="h2">A: </span>{{answer}}</p>
        </div>
        {{/ questions.content}}
    </div>
</div>



{{>footer}}