<div id="about">
    <div class="container theme-color my-5">
        <h1 class="text-center py-5">{{about.about.title}}</h1>
        <div class="text-justify will-show">
            {{# about.about.content}}
            <p>{{text}}</p>
            {{/ about.about.content}}
        </div>
    </div>
</div>