<div id="about" class="my-5">
    <div class="container theme-color">
        <h1 class="text-center py-5 font-weight-bold">{{about.about.title}}</h1>
        <div class="text-justify will-show">
            {{# about.about.content}}
            <p>{{text}}</p>
            {{/ about.about.content}}
        </div>
    </div>
</div>